.container {
    display: flex;
    flex: 1;
  }
  
  .navbarContactBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 30px;
  }
  
  .navbarContact {
    padding-top: 10px;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    width: 153px;
    height: 29px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #673d88;
    background-color: #fbfcfe;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    list-style: none;
  }
  
  .navbarContact:hover {
    color: #fbfcfe;
    background-color: #673d88;
    transition: ease-in;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .navbarContact:hover a {
    color: #fbfcfe;
    transition: ease-in;
    transition-duration: 0.3s;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin-top: 0;
  }
  
  @media only screen and (max-width: 700px) {
    .navbarContact {
      width: 80px;
    }
  }
  @media only screen and (max-width: 400px) {
    .navbarContact {
      font-size: 12px;
      width: 25vw;
    }
  }
  @media only screen and (max-width: 300px) {
    .navbarContact {
      font-size: 4vw;
      width: 20vw;
    }
  }
  